section {
    margin: 0;
    display: flex;
    justify-content: center;
}

img {
    height: 100px;
    width: 100px;
}

div {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    flex-direction: row;
    margin: 0;
}